#header {
  background-color: #3c78c2;
}
#header .container {
  position: relative;
  padding-top: 16px;
  padding-bottom: 16px;
}
#header h1 {
  display: block;
  float: left;
  font-size: 32px;
  line-height: 32px;
  color: #fff;
  font-weight: bold;
}
#header h1 span {
  margin-left: 30px;
  font-size: 14px;
}
#header .search {
  display: block;
  float: right;
  padding-top: 2px;
}
#header .search input {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  padding: 0px 8px;
  border-radius: 4px;
  border: 1px #1c4882 solid;
  width: 300px;
}
#header .search button {
  display: inline-block;
  vertical-align: middle;
  height: 28px;
  line-height: 28px;
  padding: 0px 12px;
  background: peru;
  font-weight: bold;
  color: #fff;
  border-radius: 4px;
  margin-left: 5px;
  cursor: pointer;
}
.dvhipck {
  display: block;
  margin: auto;
  text-align: center;
}
.dvhipck .btns:hover {
  cursor: pointer;
}
.dvhipck .btns {
  display: inline-block;
  border-radius: 6px;
}
.dvhipck .btns a {
  display: block;
  float: left;
  padding: 6px 18px;
  border: 1px solid #ddd;
  border-left: none;
  color: #999;
  font-weight: bold;
}
.dvhipck .btns a:hover {
  background-color: #eee;
  color: #666;
}
.dvhipck .btns .f {
  border-left: 1px solid #ddd;
  border-radius: 6px 0 0 6px;
}
.dvhipck .btns .e {
  border-radius: 0 6px 6px 0;
}
.dvhipck .btns .active,
.dvhipck .btns .active:hover {
  background-color: #3c78c2;
  border-color: #3c78c2;
  color: #fff;
}
.dvhipck .browsertip {
  display: none;
  margin: 20px;
  margin-bottom: 4;
  padding: 10px;
  background-color: #f1e8cf;
  box-shadow: 1px 1px 2px #00000033;
}
.dvhipck .browsertip p {
  color: peru;
  font-size: 14px;
}
.dvhipck .browsertip a {
  font-weight: bold;
  color: chocolate !important;
  font-size: inherit;
}
.dvhipck .browsertip a:hover {
  text-decoration: underline;
  color: #b4520c !important;
}
@media screen and (max-width: 512px) {
  #header h1 {
    display: block;
    margin-right: 0px;
    float: none;
    font-size: 26px;
    text-align: center;
  }
  #header h1 span {
    display: none;
  }
  #header .search {
    float: none;
    text-align: center;
    padding-top: 10px;
  }
  #header .search input {
    width: 180px;
  }
}
