#header{
    background-color: #3c78c2;
    h1{
        font-size: 32px;
        color: #fff;
        font-weight: bold;
        span{
            font-size: 14px;
            margin-left: 40px;
        }
    }
}




@media screen and (max-width: 512px) {

#header{
    h1{
        span{
            display: block;
        }
    }
    
}

}