
<script>
    var last_height = [:=last_height:]
      , ranking_api_url = "[:=ranking_api_url:]";
</script>


<div id="totalsupply" class="mtable mbfix">
    <div class="container">
        <div class="wrap">
            <h1 class="tt">[:=lang.main.ttspl_title || "总供应量统计":]</h1>
            <div class="con">
                <div class="num"><h6>[:=lang.main.ttspl_miner_reward || "矿工区块奖励：":]</h6><b class="green">{{miner_reward}}<i>HAC</i></b></div>
                <div class="num"><h6>[:=lang.main.ttspl_channel_interest || "通道锁定已发放利息：":]</h6><b class="green">{{channel_interest}}<i>HAC</i></b></div>
                <div class="num"><h6>[:=lang.main.ttspl_btcmove_subsidy || "比特币转移补偿已解锁：":]</h6><b class="green">{{btcmove_subsidy}}<i>HAC</i></b></div>
                <div class="num"><h6>[:=lang.main.ttspl_transferred_bitcoin || "已转移过来的比特币：":]</h6><b class="orange">{{transferred_bitcoin}}<i>BTC</i></b></div>
                <div class="num"><h6>[:=lang.main.ttspl_located_in_channel || "已存入通道链网络：":]</h6><b>{{located_in_channel}}<i>HAC</i></b></div>
                <div class="num"><h6>[:=lang.main.ttspl_minted_diamond || "已挖出钻石数：":]</h6><b>{{minted_diamond}}<i>❂</i></b></div>
                <div class="num"><h6>[:=lang.main.ttspl_burned_fee || "已销毁手续费：":]</h6><b class="red">{{burned_fee}}<i>HAC</i></b></div>
                <div class="num"><h6>[:=lang.main.ttspl_current_circulation || "实时流通量统计：":]</h6><b>{{current_circulation}}<i>HAC</i></b></div>
            </div>
        </div>
    </div>
</div>


<div id="dfcts" >
    <div class="container">
        <div class="wrap">
            <div class="tt">
                [:=
                    lang.main.hash_power_title || 
                    "<p>全网目标哈希率：<b>{{target_hashpower}}</b>， 实时哈希率：<b>{{current_hashpower}}</b>，近30天算力相对波动：</p>"
                :]
            </div>
            <canvas id="dfcts_canvas">
                Your browser does not support canvas tag.
            </canvas>
        </div>
    </div>
</div>


<div id="diamondcreatetxs" class="mtable mbfix" >
    <div class="container">
        <div class="wrap">
            <h1 class="pt">
                [:=
                    lang.main.diamond_mining_period ||
                    "周期 {{period}} 序号 {{number}} 最新挖出待确认钻石手续费竞价排序表："
                :]
            </h1>
            <div class="con">
                <table>
                    <tr class="hd">
                        <th>#</th>
                        <th>[:=lang.main.diamond_value || "钻石字面值":]</th>
                        <th class="hd"><!---->[:=lang.main.diamond_reward_address || "奖励地址":]</th>
                        <th><!---->[:=lang.main.diamond_tx_hx || "交易哈希":]</th>
                        <th><!---->[:=lang.main.diamond_fee_up || "手续费出价":]</th>
                        <th><!---->[:=lang.main.diamond_fee_address || "手续费地址":]</th>
                        <th><!---->[:=lang.main.diamond_status || "状态":]</th>
                    </tr>
                    
                    <tr class="row" v-if="txs.length" v-for="tx in txs">
                        <td class="t1 i">{{tx[0]}}</td>
                        <td class="t2 diamond">{{tx[3]}}</td>
                        <td class="t3 addr hd"><a target="_blank" :title="tx[4]" :href="'/address/'+tx[4]">{{tx[4]}}</a></td>
                        <td class="t4 hx"><a target="_blank" :title="tx[1]" :href="'/tx/'+tx[1]">{{tx[1]}}</a></td>
                        <td class="t5 fee">{{tx[5]}}</td>
                        <td class="t6 addr f"><a target="_blank" :title="tx[2]" :href="'/address/'+tx[2]">{{tx[2]}}</a></td>
                        <td class="t7 stat" v-if="tx[6]===0"><i class="ok">ok</i></td>
                        <td class="t7 stat" v-if="tx[6]===1">
                            <i class="err">[:=lang.main.diamond_status_invalid_1 || "余额不足":]</i>
                        </td>
                    </tr>
                    <!-- <tr class="row">
                        <td class="t1">123</td>
                        <td class="t2 diamond">123</td>
                        <td class="t5 hx">123</td>
                        <td class="t3 addr hd">123</td>
                        <td class="t4 addr f">123</td>
                        <td class="t5">123</td>
                        <td class="t6 stat"><i class="ok">ok</i></td>
                        <td class="t6 stat">
                            <i class="err">invalid</i>
                            <u>[:=lang.main.diamond_status_invalid_1 || "无效":]</u>
                        </td>
                    </tr> -->
                </table>
            </div>
            <div v-if="txs&&txs.length===0">
                <p class="notyet">[:=lang.main.diamond_none || "暂无 ~":]</p>
            </div>
        </div>
    </div>
</div>

<div id="blocks" class="mtable mbfix" >
    <div class="container">
        <div class="wrap">
            <h1 class="pt">
                [:=lang.main.block_last || "最新出块":]: 
                <span class="tv">{{last_cuttime}}s [:=lang.main.block_auto_update || "自动更新":]</span>
            </h1>
            <div class="con">
                <table>
                    <tr class="hd">
                        <th>[:=lang.main.block_height || "高度":]</th>
                        <th>[:=lang.main.block_hash || "哈希":]</th>
                        <th>[:=lang.main.block_trs_num || "交易数":]</th>
                        <th class="mbn">[:=lang.main.block_difficulty_target || "难度目标":]</th>
                        <th>[:=lang.main.block_miner_name || "播报方":]</th>
                        <th class="mbn">[:=lang.main.block_reward_amt || "区块奖励":]</th>
                        <th>[:=lang.main.block_reward_address || "奖励地址":]</th>
                        <th>[:=lang.main.block_time || "时间":]</th>
                    </tr>
                    <tr class="row" v-for="one in blocks">
                        <td class="t1 hei">{{one.height}}</td>
                        <td class="t2 gray dts"><a target="_blank" :title="one.hash" :href="'/block/'+one.hash">{{one.hash.substr(0,28)+'...'}}</a></td>
                        <td class="t3">{{one.txs}}</td>
                        <td class="t4 gray">{{one.bitstr}}</td>
                        <td class="t5 sienna">{{one.rewards.message=='unknown'?'':one.rewards.message}}</td>
                        <td class="t6">{{one.rewards.amount}}</td>
                        <td class="t7 gray dts"><a target="_blank" :title="one.rewards.address" :href="'/address/'+one.rewards.address">{{one.rewards.address.substr(0,18)+'...'}}</a></td>
                        <td class="t8 gray">{{formatDate(new Date(one.time*1000), 'MM-dd hh:mm:ss').replace('','')}}</td>
                    </tr>
                </table>
                <div class="pmore" v-show="showMoreBtn">
                    <a class="button" @click="queryMoreDatas">[:=lang.main.block_show_more || "查看更多":]</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="transfers" class="mtable mbfix" >
    <div class="container">
        <div class="wrap">
            <h1 class="pt">[:=lang.main.trs_last || "最近转账":]:<span class="refresh" @click="refresh"  v-show="refreshBtn">{{refreshTip}}</span></h1>
            <div class="con">
                <table>
                    <tr class="hd">
                        <th>[:=lang.main.trs_block_height || "区块高度":]</th>
                        <th>[:=lang.main.trs_from || "From地址":]</th>
                        <th>[:=lang.main.trs_to || "To地址":]</th>
                        <th>[:=lang.main.trs_amount || "金额":]</th>
                        <th>[:=lang.main.trs_time || "确认时间":]</th>
                    </tr>
                    <tr class="row" v-for="one in transfers">
                        <td class="t0">{{one[0]}}</td>
                        <td class="t1"><a target="_blank" :href="'/address/'+one[1]">{{one[1]}}</a></td>
                        <td class="t2"><a target="_blank" :href="'/address/'+one[2]">{{one[2]}}</a></td>
                        <td class="t3"><b>{{one[3]}}</b></td>
                        <td class="t4">{{formatDate(new Date(one[4]*1000), 'MM-dd hh:mm')}}</td>
                    </tr>
                </table>
                <div class="pmore" v-show="showMoreBtn">
                    <a class="button" @click="queryTransferDatas">[:=lang.main.trs_show_more || "查看更多":]</a>
                </div>
            </div>
        </div>
    </div>    
</div>


<div id="channelopenlogs" class="mtable mbfix" >
    <div class="container">
        <div class="wrap">
            <h1 class="pt">[:=lang.main.col_last || "最近开启通道":]:</h1>
            <div class="con">
                <table>
                    <tr class="hd">
                        <th>[:=lang.main.col_block_height || "区块高度":]</th>
                        <th>[:=lang.main.col_channel_id || "通道id":]</th>
                        <th class="thwd">[:=lang.main.col_addr || "地址":]</th>
                        <th class="thwd">[:=lang.main.col_amount || "金额":]</th>
                        <th>[:=lang.main.col_time || "开启时间":]</th>
                    </tr>
                    <tr class="row" v-for="one in channelopenlogs">
                        <td class="t0"><a>{{one[0]}}</a></td>
                        <td class="t1"><a target="_blank" :href="'/channel/'+one[1]">{{one[1]}}</a></td>
                        <td class="t2">
                            <a target="_blank" :href="'/address/'+one[2]">{{one[2]}}</a><br/><a class="a2" target="_blank" :href="'/address/'+one[4]">{{one[4]}}</a>
                        </td>
                        <td class="t3">
                            <b>{{one[3]}}</b><br/><b class="b2">{{one[5]}}</b>
                        </td>
                        <td class="t4">{{formatDate(new Date(one[6]*1000), 'yyyy-MM-dd hh:mm')}}</td>
                    </tr>
                </table>
                <div class="pmore" v-show="showMoreBtn">
                    <a class="button" @click="queryTransferDatas">
                        <span v-show="firstMore">[:=lang.main.col_show || "查看":]</span>
                        <span v-show="!firstMore">[:=lang.main.col_show_more || "查看更多":]</span>
                    </a>
                </div>
            </div>
        </div>
    </div>    
</div>


[: if(ranking_api_url){ :]
<div id="ranking" class="mtable">
    <div class="container">
        <div class="wrap">
            <h1 class="pt">[:=lang.main.rk_title || "持仓排名":]:</h1>
            <div class="con">
                <button class="tab t1" v-bind:class="{active: tabn=='hacash'}" @click="selectTab('hacash')">[:=lang.main.rk_tab_hacash:]</button>
                <button class="tab t2" v-bind:class="{active: tabn=='diamond'}"  @click="selectTab('diamond')">[:=lang.main.rk_tab_diamond:]</button>
                <button class="tab t3" v-bind:class="{active: tabn=='bitcoin'}"  @click="selectTab('bitcoin')">[:=lang.main.rk_tab_bitcoin:]</button>

                <div v-if="list && list.length==0">
                    <p style="color: #999;">- empty -</p>
                </div>

                <table class="rktable" v-if="list && list.length > 0">
                    <tr>
                        <th>#</th>
                        <th>Address</th>
                        <th>Balance</th>
                        <th>Percent</th>
                    </tr>
                    <tr class="row" v-for="li in list">
                        <td class="n">{{li.num}}</td>
                        <td><a class="addr" target="_blank" :href="'/address/'+li.address">{{li.address}}</a></td>
                        <td>{{li.value}}</td>
                        <td class="pc">{{li.percent}}%</td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
</div>
[: } :]

