
<script>
    var last_height = [:=last_height:];
</script>

<div id="dfcts" >
    <div class="container">
        <div class="wrap">
            <div class="tt">
                [:=
                    lang.main.hash_power_title || 
                    "<p>实时全网算力：<b>{{hashpower}}</b>，近180天算力相对波动：</p>"
                :]
            </div>
            <canvas id="dfcts_canvas">
                Your browser does not support canvas tag.
            </canvas>
        </div>
    </div>
</div>

<div id="diamondcreatetxs" >
    <div class="container">
        <div class="wrap">
            <h1 class="pt">
                [:=
                    lang.main.diamond_mining_period ||
                    "周期 {{period}} 最新挖出待确认钻石手续费竞价排序表："
                :]
            </h1>
            <div class="con">
                <table>
                    <tr class="hd">
                        <th>#</th>
                        <th>[:=lang.main.diamond_value || "钻石字面值":]</th>
                        <th><!---->[:=lang.main.diamond_tx_hx || "交易哈希":]</th>
                        <th class="hd"><!---->[:=lang.main.diamond_reward_address || "奖励地址":]</th>
                        <th><!---->[:=lang.main.diamond_fee_address || "手续费地址":]</th>
                        <th><!---->[:=lang.main.diamond_fee_up || "手续费出价":]</th>
                    </tr>
                    <tr class="row" v-for="tx in txs">
                        <td class="t1">{{tx[0]}}</td>
                        <td class="t2 diamond">{{tx[3]}}</td>
                        <td class="t5 hx">{{tx[1]}}</td>
                        <td class="t3 addr hd">{{tx[4]}}</td>
                        <td class="t4 addr f">{{tx[2]}}</td>
                        <td class="t5">{{tx[5]}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="blocks" >
    <div class="container">
        <div class="wrap">
            <h1 class="pt">
                [:=lang.main.block_last || "最新出块":]: 
                <span class="tv">{{last_cuttime}}s [:=lang.main.block_auto_update || "自动更新":]</span>
            </h1>
            <div class="con">
                <table>
                    <tr class="hd">
                        <th>[:=lang.main.block_height || "高度":]</th>
                        <th>[:=lang.main.block_hash || "哈希":]</th>
                        <th>[:=lang.main.block_trs_num || "交易数":]</th>
                        <th class="mbn">[:=lang.main.block_difficulty_target || "难度目标":]</th>
                        <th>[:=lang.main.block_miner_name || "播报方":]</th>
                        <th class="mbn">[:=lang.main.block_reward_amt || "区块奖励":]</th>
                        <th>[:=lang.main.block_reward_address || "奖励地址":]</th>
                        <th>[:=lang.main.block_time || "时间":]</th>
                    </tr>
                    <tr class="row" v-for="one in blocks">
                        <td class="t1 hei">{{one.height}}</td>
                        <td class="t2 gray dts"><a target="_blank" :title="one.hash" :href="'/block/'+one.hash">{{one.hash.substr(0,20)+'...'}}</a></td>
                        <td class="t3">{{one.txs}}</td>
                        <td class="t4 gray">{{one.bitstr}}</td>
                        <td class="t5 sienna">{{one.rewards.message=='unknown'?'':one.rewards.message}}</td>
                        <td class="t6">{{one.rewards.amount}}</td>
                        <td class="t7 gray dts"><a target="_blank" :title="one.rewards.address" :href="'/address/'+one.rewards.address">{{one.rewards.address.substr(0,12)+'...'}}</a></td>
                        <td class="t8 gray">{{formatDate(new Date(one.time*1000), 'MM-dd hh:mm:ss').replace('','')}}</td>
                    </tr>
                </table>
                <div class="pmore" v-show="showMoreBtn">
                    <a class="button" @click="queryMoreDatas">[:=lang.main.block_show_more || "查看更多":]</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="transfers" >
    <div class="container">
        <div class="wrap">
            <h1 class="pt">[:=lang.main.trs_last || "最近转账":]:<span class="refresh" @click="refresh"  v-show="refreshBtn">{{refreshTip}}</span></h1>
            <div class="con">
                <table>
                    <tr class="hd">
                        <th>[:=lang.main.trs_block_height || "区块高度":]</th>
                        <th>[:=lang.main.trs_from || "From地址":]</th>
                        <th>[:=lang.main.trs_to || "To地址":]</th>
                        <th>[:=lang.main.trs_amount || "金额":]</th>
                        <th>[:=lang.main.trs_time || "确认时间":]</th>
                    </tr>
                    <tr class="row" v-for="one in transfers">
                        <td class="t0">{{one[0]}}</td>
                        <td class="t1"><a target="_blank" :href="'/address/'+one[1]">{{one[1]}}</a></td>
                        <td class="t2"><a target="_blank" :href="'/address/'+one[2]">{{one[2]}}</a></td>
                        <td class="t3"><b>{{one[3]}}</b></td>
                        <td class="t4">{{formatDate(new Date(one[4]*1000), 'MM-dd hh:mm')}}</td>
                    </tr>
                </table>
                <div class="pmore" v-show="showMoreBtn">
                    <a class="button" @click="queryTransferDatas">[:=lang.main.trs_show_more || "查看更多":]</a>
                </div>
            </div>
        </div>
    </div>    
</div>