html, body{
    background-color: #e6e9ee;
}

#blocks{

    .wrap{
        background-color: #f3f4f7;
        border-radius: 4px;
        h1{
            color: #233;
            font-size: 14px;
            padding: 10px 16px;
            span{
                padding-top: 2px;
                float: right;
                font-size: 10px;
                color: #999;
            }
        }
        .con{
            background-color: #fff;
            border-radius: 0 0 4px 4px;
            padding: 16px;
        }
        .item{
            padding: 15px 0;
            border-bottom: #899 1px dashed;
            p{
                display: inline-block;
                vertical-align: middle;
                width: 100px;
                word-break: break-all;
                u{
                    display: inline-block;
                    width: 30px;
                }
            }
            p.wide{
                width: 180px;
            }
            p.block{
                width: auto;
                display: block;
            }
        }
        .more{
            display: block;
            padding: 20px 0;
            text-align: center;
            .button{
                display: inline-block;
                background: cadetblue;
                color: #fff;
                font-size: 12px;
                line-height: 14px;
                height: 14px;
                padding: 6px 18px;
                border-radius: 4px;
                cursor: pointer;
                &:hover{
                    box-shadow: 1px 1px 8px #bbb;
                }
            }
        }
    }

}




@media screen and (max-width: 512px) {

#blocks{
    .container{
        padding: 0%;
        width: 100%;
    }
}

}
