html, body{
    background-color: #e6e9ee;
}



#dfcts_canvas{
    display: block;
    height: 100px;
    width: 100%;
    border: 1px solid #ddd;
    border-top: none;
    background: #fff
}


#dfcts{
    .wrap{
        position: relative;
        .tt{
            display: block;
            // position: absolute;
            // top: 10px; left: 10px;
            padding: 5px 0;
            color: #aaa;
            font-size: 12px;
            background: #fff;
            border: 1px solid #ddd;
            border-bottom-color: #eee;
            width: 100%;
            p{
                display: block;
                padding: 2px 5px;
                padding-left: 15px;
                b{
                    color: goldenrod;
                    font-size: 16px;
                    font-weight: bold;
                }
            }
        }
    }
}


div.pmore{
    display: block;
    padding: 20px 0;
    text-align: center;
    .button{
        display: inline-block;
        background: cadetblue;
        color: #fff;
        font-size: 12px;
        line-height: 14px;
        height: 14px;
        padding: 6px 18px;
        border-radius: 4px;
        cursor: pointer;
        &:hover{
            box-shadow: 1px 1px 8px #bbb;
        }
    }
}


#blocks, #transfers, #diamondcreatetxs{

    .wrap{
        background-color: #f3f4f7;
        border-radius: 4px;
        h1{
            color: #233;
            font-size: 14px;
            line-height: 17px;
            padding: 10px 16px;
            span.tv{
                padding-top: 2px;
                float: right;
                font-size: 10px;
                color: #999;
            }
        }
        .con {
            background-color: #fff;
            border-radius: 0 0 4px 4px;
            padding: 20px 0;
            text-align: center;
            table{
                display: inline-block;
                border-collapse: collapse;
                border: none;
                tr{
                    position: relative;
                }
                th, td {
                    padding: 10px;
                }
                th{
                    background: #f6f8f8;
                    color: #899;
                    font-weight: bold;
                }
                td{
                    white-space: pre-wrap;
                    word-break: break-all;
                    border-bottom: 1px solid #ddd;
                    &.gray{
                        color: gray;
                    }
                    &.hei{
                        color: #899;  
                    }
                    &.sienna{
                      color: sienna;  
                    }
                    &.dts a{
                        color: darkseagreen;
                        cursor: pointer;
                    }
                    &.dts a:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
        .item{
            padding: 15px 0;
            border-bottom: #899 1px dashed;
            p{
                display: inline-block;
                vertical-align: middle;
                width: 100px;
                word-break: break-all;
                u{
                    display: inline-block;
                    width: 30px;
                }
            }
            p.wide{
                width: 180px;
            }
            p.block{
                width: auto;
                display: block;
            }
        }
    }

}



#diamondcreatetxs{
    .wrap{
        .notyet {
            text-align: center;
            padding: 16px 0;
            color: #999;
            background-color: #fff;
        }
        .con{
            table{
                td{
                    border-bottom: none;
                    border-top: 1px solid #eee;
                }
                td.t2 {
                    font-size: 14px;
                    font-weight: bold;
                    color: cadetblue;
                }
                td.addr a{
                    display: inline-block;
                    word-break: break-all;
                    width: 140px;
                    color: darkseagreen;
                    font-size: 12px;
                    line-height: 14px;
                }
                td.addr.f a{
                    display: inline-block;
                    color: darkgrey;
                }
                td.hx a{
                    display: inline-block;
                    word-break: break-all;
                    width: 230px;
                    font-size: 10px;
                    color: darkgrey;
                    line-height: 14px;
                }
                td.fee {
                    color: cadetblue;
                    font-weight: bold;
                }
                td.stat {
                    max-width: 70px;
                    i.ok {
                        color: forestgreen;
                    }
                    i.err {
                        color: #fff;
                        background-color: peru;
                    }
                    u{
                        font-size: 12px;
                        color: #666;
                    }
                }
            }
        }
    }

}


#transfers {
    .refresh{
        display: block;
        float: right;
        color: dodgerblue;
        &:hover{
            text-decoration: underline;
            cursor: pointer;
        }
    }
    .con{
        table{
            td{
                border-bottom: 1px solid #eee;
            }
        }
    }
    tr .t0{ color: #555; }
    tr .t1 a{ color: tan; }
    tr .t2 a{ color: darkseagreen; }
    tr .t3 b{
        display: block;
        float: right;
        padding: 0px 3px;
        border-radius: 4px;
        background: #fff; 
        // border: 1px cadetblue solid;
        color: cadetblue; 
        font-weight: bold;
    }
    tr .t4{ color: #999; }
}




@media screen and (max-width: 512px) {


#dfcts .wrap .tt p,
#dfcts .wrap .tt p b {
    font-size: 12px;
}



#blocks, #transfers, #diamondcreatetxs{
    .container{
        padding: 0%;
        width: 100%;
    }
    .wrap{
        h1{
            padding-top: 40px;
            color: #566;
        }
        .con{
            padding: 0;
            table{
                tr{
                    display: block;
                    position: relative;
                }
                tr.row{
                    padding-top: 1px;
                    height: 60px;
                    border-top: #ddd dotted 1px;
                }
                th{
                    // opacity: 0;
                    padding: 5px;
                    background: none;
                    &.mbn{
                        display: none;
                    }
                }
                td{
                    display: block;
                    position: absolute;
                    left: 50px; top: 50px;
                    border: none;
                    padding: 0;
                }

            }
        }
    }
}


#diamondcreatetxs {
    .wrap{
        .con{
            table{
                .row td, .row td a{
                    display: block;
                    height: 20px;
                    line-height: 20px;
                    max-width: 120px;
                    overflow: hidden;
                    white-space: nowrap;
                    word-break: break-all;
                    text-overflow: ellipsis;
                }
                td.fee {
                    color: rosybrown;
                    font-weight: normal;
                }
                td.i {
                    color: #888;
                }
                .t1{ top: 10px; left: 5px; }
                .t2{ top: 10px; left: 30px; }
                .t3{ top: 10px; left: 110px; }
                .t4{ top: 10px; left: auto; right: 0px; }
                .t5{ top: 30px; left: 30px; }
                .t6{ top: 30px; left: 110px; }
                .t7{ top: 30px; left: auto; right: 10px; }
            }
        }
    }
}

#blocks{
    .wrap{
        .con{
            table{
                .t1{ top: 10px; left: 0px; }
                .t2{ top: 10px; left: 80px; }
                .t3{ top: 10px; left: auto; right: 0px; }
                .t4{ top: 10px; left: 240px; display: none;  }
                .t5{ top: 30px; left: 0px; }
                .t7{ top: 30px; left: 80px; }
                .t6{ top: 30px; left: 160px; display: none; }
                .t8{ top: 30px; left: auto; right: 0px; }
            }
        }
    }
}

#transfers{
    .wrap{
        .con{
            table{
                tr.row{
                    height: 75px;
                }
                .t1{ top: 10px; left: 10px; }
                .t2{ top: 26px; left: 10px; }
                .t0{ top: 46px; left: auto; right: 95px; color: lightsteelblue; }
                .t3{ top: 46px; left: 10px; }
                .t4{ top: 46px; left: auto; right: 15px; }
            }
        }
    }
}


}
