
<div id="channel" class="ppage" ref="channel" data-address="[:=id:]" >
    <div class="container">
        <p class="crumb"><a href="/">首页</a><i>/</i><span>结算通道 - [:=id:]</span></p>
        [:if(this.channel){:]
        <div class="pcard info">
            <h3 class="hdtt">↹ 通道详情</h3>
            <div class="content">
                <p class="row"><label>ID：</label><b>[:=id:]</b></p>
                [:if(channel.is_closed==1){:]
                <p class="row"><label>是否已关闭：</label><b class="closed">[:=channel.is_closed ? "已关闭" :"" :]</b></p>
                [:}:]
                <p class="row"><label>左地址：</label><a target="_blank" href="/address/[:=channel.left_address:]"><b class="addr">[:=channel.left_address:]</b></a></p>
                <p class="row"><label>左金额：</label><b class="amt">[:=channel.left_amount:]</b></p>
                <p class="row"><label>右地址：</label><a target="_blank" href="/address/[:=channel.right_address:]"><b class="addr">[:=channel.right_address:]</b></a></p>
                <p class="row"><label>右金额：</label><b class="amt">[:=channel.right_amount:]</b></p>
            </div>
        </div>
        [:}else{:]
        <div class="notfind">
            <p>对不起，通道暂不存在</p>
        </div>
        [:}:]
    </div>
</div>
