
<div id="diamond" class="ppage" ref="diamond" data-address="[:=name:]" >
    <div class="container">
        <p class="crumb"><a href="/">首页</a><i>/</i><span>钻石 - [:=name:]</span></p>
        [:if(this.diamond){:]
        <div class="pcard info">
            <h3 class="hdtt">❂ 钻石详情</h3>
            <div class="content">
                <p class="row"><label>字面值：</label><b class="name">[:=diamond.name:]</b></p>
                <p class="row"><label>号码值：</label><b>[:=diamond.number:]</b></p>
                <p class="row"><label>产生区块高度：</label><b>[:=diamond.block_height:]</b></p>
                <p class="row"><label>产生区块哈希：</label><a target="_blank" href="/block/[:=diamond.current_block_hash:]"><b class="hx">[:=diamond.current_block_hash:]</b></a></p>
                <p class="row "><label>上次区块哈希：</label><a target="_blank" href="/block/[:=diamond.prev_block_hash:]"><b class="hx">[:=diamond.prev_block_hash:]</b></a></p>
                <p class="row"><label>矿工地址：</label><b>[:=diamond.miner_address:]</b></p>
                <p class="row"><label>当前所属地址：</label><b>[:=diamond.address:]</b></p>
            </div>
        </div>
        [:}else{:]
        <div class="notfind">
            <p>对不起，钻石暂不存在</p>
        </div>
        [:}:]
    </div>
</div>
