#block a {
  word-break: break-all;
  color: #3c78c2;
}
#block a:hover {
  text-decoration: underline;
}
#block .info .row {
  display: block;
  padding: 10px 0;
}
#block .info .row label {
  display: inline-block;
  width: 120px;
  padding-right: 20px;
  color: #aaa;
  font-size: 13px;
  text-align: right;
}
#block .info .row b {
  display: inline;
  font-size: 15px;
  color: #333;
}
#block .info .row b.hx {
  color: darkseagreen;
  font-size: 12px;
  word-break: break-all;
}
#block .info .row i.time {
  font-size: 15px;
  color: #996;
}
#block .info .row a.addr {
  font-size: 14px;
}
#block .trslist .row {
  display: block;
  padding: 5px 0;
}
#block .trslist .row label {
  background: #bbb;
  border-radius: 4px;
  padding: 0 5px;
  color: #fff;
  margin-right: 10px;
}
#block .trslist .row b {
  color: #999;
  word-break: break-all;
}
#block .notfind {
  display: block;
  margin: 40px;
  padding: 40px;
  text-align: center;
  border: 1px #bbb dashed;
}
#block .notfind p {
  color: #996;
  font-size: 20px;
}
