
<div id="block" class="ppage" ref="block" data-blockid="[:=blockid:]" >
    <div class="container">
        <p class="crumb"><a href="/">[:=lang.common.index_page || "首页":]</a><i>/</i><span>[:=lang.block.block || "区块":] - [:=blockid:]</span></p>
        [:if(this.blockinfo){:]
        <div class="pcard info">
            <h3 class="hdtt">[:=lang.block.block_intro || "区块概要":]</h3>
            <div class="content">
                <p class="row r1"><label>[:=lang.block.height || "高度":]: </label><b>[:=blockinfo.height:]</b></p>
                <p class="row"><label>[:=lang.block.hash || "哈希值":]: </label><b class="hx">[:=blockinfo.hash:]</b></p>
                <p class="row"><label>[:=lang.block.mrklroot || "默克尔根":]: </label><b class="hx">[:=blockinfo.mrklroot:]</b></p>
                <p class="row"><label>[:=lang.block.prevhash || "上一区块":]: </label><b class="hx"><a href="/block/[:=blockinfo.prevhash:]">[:=blockinfo.prevhash:]</a></b></p>
                <p class="row"><label>[:=lang.block.difficulty || "难度目标":]: </label><b>[:=blockinfo.difficulty:]</b></p>
                <p class="row"><label>[:=lang.block.nonce || "随机数":]: </label><b>[:=blockinfo.nonce:]</b></p>
                <p class="row"><label>[:=lang.block.time || "时间戳":]: </label><b>
                    [:=blockinfo.timestamp:]
                    <i class="time">（{{formatDate(new Date([:=blockinfo.timestamp:]*1000), 'yyyy-MM-dd hh:mm:ss')}}）</i>
                    </b>
                </p>
                <p class="row"><label>[:=lang.block.reward || "区块奖励":]: </label><b>[:=blockinfo.reward:]</b></p>
                <p class="row"><label>[:=lang.block.rwdaddr || "奖励地址":]: </label><b class="reward"><a target="_blank" href="/address/[:=blockinfo.rwdaddr:]">[:=blockinfo.rwdaddr:]</a></b></p>
                <p class="row"><label>[:=lang.block.txcount || "交易数量":]: </label><b>[:=blockinfo.txcount:]</b></p>
            </div>
        </div>
        <div class="pcard trslist">
            <h3 class="hdtt">⇆ [:=lang.block.txlist || "交易列表":]</h3>
            <div class="content">
            [: for(var i in blockinfo.trshxs){ var one=blockinfo.trshxs[i]; :]
                [: if(i==0){ :]
                <p class="row r1"><label>[:=(++i):]</label><b>[:=one:]</b></p>
                [:}else{:]
                <p class="row"><label>[:=(++i):]</label><a target="_blank" href="/tx/[:=one:]">[:=one:]</a></p>
                [:}:]
            [:}:]
            </div>
        </div>
        [:}else{:]
        <div class="notfind">
            <p>[:=lang.block.notfind || "对不起，找不到要查询的区块":]</p>
        </div>
        [:}:]
    </div>
</div>



