#dialend a {
  word-break: break-all;
  color: #3c78c2;
}
#dialend a:hover {
  text-decoration: underline;
}
#dialend .pcard .row {
  display: block;
  padding: 10px 0;
}
#dialend .pcard .row label {
  display: inline-block;
  width: 120px;
  padding-right: 20px;
  color: #aaa;
  font-size: 13px;
  text-align: right;
}
#dialend .pcard .row b {
  display: inline;
  font-size: 15px;
  color: #333;
}
#dialend .pcard .row b.hx {
  color: darkseagreen;
  font-size: 12px;
  word-break: break-all;
}
#dialend .pcard .row b.addr {
  font-size: 14px;
}
#dialend .pcard .row b.stat {
  display: inline-block;
  height: 16px;
  line-height: 18px;
  padding: 4px 6px 4px 6px;
  color: #e47211;
  font-weight: bold;
  font-size: 12px;
  border-radius: 2px;
  border: 2px solid #e47211;
  vertical-align: middle;
}
#dialend .pcard .row b.stat.open {
  color: #22ac07;
  border-color: #22ac07;
}
#dialend .pcard .row i.time {
  font-size: 15px;
  color: #996;
}
#dialend .pcard .row a.hei {
  font-size: 15px;
}
#dialend .pcard .row.stas b {
  display: inline-block;
  border: solid 2px seagreen;
  background-color: white;
  color: seagreen;
  font-size: 14px;
  line-height: 14px;
  padding: 4px 8px;
  font-weight: bold;
}
#dialend .pcard .row.stas.s2 b {
  border-color: darkgoldenrod;
  background-color: darkgoldenrod;
  color: white;
}
#dialend .block .height {
  font-size: 14px;
}
#dialend .actions .kind {
  color: #996;
}
#dialend .actions .other {
  color: #999;
}
#dialend .notfind {
  display: block;
  margin: 40px;
  padding: 40px;
  text-align: center;
  border: 1px #bbb dashed;
}
#dialend .notfind p {
  color: #996;
  font-size: 20px;
}
